[class^="icon-"] {
  -webkit-user-drag: none;
}

.icon-disabled {
  cursor: not-allowed !important;
}
.icon-disabled:hover {
  filter: none !important;
}

.icon-close {
  margin-top: 10px;
  margin-right: 4px;
  cursor: pointer;
}

.icon-hide {
  cursor: pointer;
}

.icon-circle {
  width: 22px;
  cursor: pointer;
}

.icon-flag {
  width: 22px;
  cursor: pointer;
}

.icon-note {
  width: 14px;
}

.icon-pin {
  width: 25px;
  cursor: pointer;
}

.icon-snooze {
  width: 22px; 
  cursor: pointer;
}

.icon-snooze-indicator {
  position: absolute;
  bottom: -11px;
  right: -40px;
  /* make the indicator a little darker than the other icons */
  filter: brightness(0) saturate(100%) invert(21%) sepia(1%) saturate(0%) hue-rotate(210deg) brightness(94%) contrast(91%);
}

.icon-close:hover,
.icon-hide:hover,
.icon-circle:hover,
.icon-flag:hover,
.icon-pin:hover,
.icon-snooze:hover
{
  /* given an svg with fill/stroke of #555555, the below filter will change the color to be equivalent to --color-purple: #6264ff; */ 
  filter: invert(7%) sepia(69%) saturate(2731%) hue-rotate(226deg) brightness(101%) contrast(104%);
}

.icon-sidebar {
  width: 50px;
}

.icon-trash {
  width: 22px;
  margin-right: 4px;
  cursor: pointer;   
}

.icon-trash:hover {
  /* given an svg with fill/stroke of #555555, the below filter will change the color to be equivalent to  --color-red: #AE3532; */
  filter: brightness(0) saturate(100%) invert(36%) sepia(10%) saturate(4466%) hue-rotate(304deg) brightness(92%) contrast(83%);
}