.app-menu-and-input-box-container {
  display: flex;
  align-items: center; /* Aligns items vertically */

  /* the below allows the input box to be always on top */
  width: var(--width-main-canvas);
  position: fixed;
  z-index: 900;
}

.menu {
  position: absolute;
  list-style-type: none;
  display: none; /* Hide the menu by default */
  background-color: var(--color-background);
  width: 240px;
  margin-top: 44px;
  margin-left: 199px;
  border: 1px solid var(--color-selected);
  border-radius: 5px;
  padding: 6px 0px;
  z-index: 100;
}

.task-menu {
  margin-top: -22px;
  margin-left: 18px;
}

.dot {
  width: 2px;                                     /* Set width of each dot */
  height: 2px;                                    /* Set height of each dot */
  background-color: var(--color-ellipsis-dot);      /* Color of the dots */
  border-radius: 50%;                             /* Make the dots round */
  margin: 0 2px;                                  /* Space between the dots */
}

.ellipsis {
  cursor: pointer;
  display: flex;               /* Use flexbox to align dots */
  justify-content: center;     /* Center the dots horizontally */
  align-items: center;         /* Center the dots vertically */
  z-index: 100;
  padding: 12px 8px 12px 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.ellipsis:hover {
  background-color: var(--color-button-hover);
}

.ellipsis.active {
  background-color: var(--color-selected);
}

.ellipsis:hover .dot {
  background-color: var(--color-purple);
}

.ellipsis.active .dot {
  background-color: var(--color-purple);
}

#addTaskInputBoxIcons {
  display: flex;
  position: absolute;
  left: 362px;
}

#snoozeSelectorButton {
  cursor: pointer;
  margin-top: 2px;  
  z-index: 100;
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  margin-left: 10px;
}

#snoozeSelectorButton:hover {
  background-color: var(--color-button-hover);
}

#snoozeSelectorButton.active {
  background-color: var(--color-selected);
}

#snoozeSelectorButton:hover .icon-snooze {
  /* given an svg with fill/stroke of #555555, the below filter will change the color to be equivalent to --color-purple: #6264ff; */ 
  filter: invert(7%) sepia(69%) saturate(2731%) hue-rotate(226deg) brightness(101%) contrast(104%);
}

#snoozeSelectorButton.active .icon-snooze {
  /* given an svg with fill/stroke of #555555, the below filter will change the color to be equivalent to --color-purple: #6264ff; */ 
  filter: invert(7%) sepia(69%) saturate(2731%) hue-rotate(226deg) brightness(101%) contrast(104%);
}

.flex {
  flex: 1;
}

#snoozeSpace {
  width: 24px;
}

.menu.active {
  display: block; /* Show the menu when active */
}

.menu-item {
  display: flex;
  margin: 4px 8px;
  padding: 4px 8px;
  border-radius: 5px;
}

.menu-title {
  flex: 1;
}

.menu-info {
  flex: 1;
  color: var(--color-menu-info);
}

.menu-item:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.task-selected {
  background-color: var(--color-selected) !important;
}

.draggable-container {
  border-radius: 5px;
}

.dragover-completed {
  background-color: rgba(255, 255, 255, 0.05); /* Dimming effect */
}

.dragging {
  background-color: var(--color-selected);
  transform: scale(0.95);  /* Decrease div size */
}

.flagged {
  color: var(--color-purple) !important;
}

.full-width {
  width: 100%;
}

.display-none {
  display: none !important;
}

.task-actions {
  display: flex;
  z-index: 10;
}

.task-details-title {
  margin: 0px 0px 16px 0px;
  padding: 4px 4px 4px 4px;
  outline: 0px solid transparent;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid transparent;
}

.task-details-title-empty  {
  border: 1px solid var(--color-red);
}

.sidebar-actions {
  margin: 0px 0px 16px 0px;
  padding-bottom: 10px;
  outline: 0px solid transparent;
  display: flex;
  flex-grow: 100;
  border-bottom: 1px solid var(--color-action-separator);
}

.quick-actions {
  display: flex;
  margin-right: 4px;
}

.vertical-line-separator {
  margin: 2px 12px 2px 12px;
  border-left: 1px solid var(--color-action-separator);
}

.menu-item-separator {
  margin: 6px 12px 6px 12px;
  border-bottom: 1px solid var(--color-action-separator);
}

/*********************************************
 * Elements
 *********************************************/

#addTaskInputBox {
  flex: 1;
  background-color: var(--color-input);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px;
  padding-right: 86px;
  outline: none;
  box-sizing: border-box;
}

/* style to use if the "add task" input box has focus or has text */
#addTaskInputBox:focus {
  background-color: var(--color-background);
  border: 1px solid var(--color-purple);
  color: var(--color-primary-text) !important;
}

#addTaskInputBox:not(:placeholder-shown) {
  color: var(--color-secondary-text);
}

#listTasksArea {
  margin: 50px 0px 0px 0px;
}

#taskDetails {
  position: fixed;
  top: 0px;
  left: 480px;
  width: 300px;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/*******************************************
 * Task Details Title
 *******************************************/

.editable-div {
  margin: 0px 0px 16px 0px;
  padding: 8px !important;
  outline: 1px solid transparent;
  font-size: 1.1rem;
  font-weight: bold;
}

.editable-div:focus {
  outline: 1px solid var(--color-selected);
  border-radius: 5px;
}

.placeholder {
  color: var(--color-task-action-text) !important;
  top: 8px !important;
  left: 8px !important;
  font-size: 1.1rem;
  font-weight: bold;
}

.noTitle {
  color: var(--color-red) !important;
}

/*******************************************
 * Notes
 *******************************************/
#notesMain {
  flex-grow: 1;
}

#notesTextArea {
  background: var(--color-sidebar);
  resize: none;
  margin-left: 8px;
  width: 260px;
}

.ql-editor {
  padding: 0px !important;
  tab-size: 2 !important;
}

div.ql-editor.ql-blank::before {
  left: 0px !important;
}

.ql-editor.ql-blank::before {
  color: var(--color-task-action-text) !important; /* Change this to your desired color */
  font-style: normal !important;
}

.ql-editor ul, .ql-editor ol, .ql-editor li {
  padding-left: .6rem !important; /* Adjust this value to change the base indent */
}

.ql-editor li.ql-indent-1 {
  padding-left: 1.2rem !important; /* Adjust for first level indent */
}

.ql-editor li.ql-indent-2 {
  padding-left: 1.8rem !important; /* Adjust for second level indent */
}

.ql-editor li.ql-indent-3 {
  padding-left: 2.4rem !important; /* Adjust for second level indent */
}

.ql-editor li.ql-indent-4 {
  padding-left: 3.0rem !important; /* Adjust for second level indent */
}

.ql-editor li.ql-indent-5 {
  padding-left: 3.6rem !important; /* Adjust for first level indent */
}

.ql-editor li.ql-indent-6 {
  padding-left: 4.2rem !important; /* Adjust for second level indent */
}

.ql-editor li.ql-indent-7 {
  padding-left: 4.8rem !important; /* Adjust for second level indent */
}

.ql-editor li.ql-indent-8 {
  padding-left: 5.4rem !important; /* Adjust for second level indent */
}

.ql-editor li.ql-indent-9 {
  padding-left: 6.0 rem !important; /* Adjust for second level indent */
}