.restore, .delete {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--color-task-action-text);
  margin-right: 10px;

  height: 20px; /* Set a height for the container */
  line-height: 20px; /* Match line-height to height */
  text-align: center; /* Optional for horizontal centering */
}

.restore {
  margin-top: 4px;
}
.delete {
  margin-bottom: 4px;
}

.restore:hover {
  color: var(--color-purple);
  cursor: pointer;
}

.delete:hover {
  color: var(--color-red);
  cursor: pointer;
}

#tasksArea {
  margin-top: 60px;
  padding-bottom: 20px;
}